%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    %h1#logo= link_to "#{AppConfig.workshops_name}", root_url
    %nav
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %p
            %em Hello, #{current_user.firstname}!
          %li= link_to 'Your profile', current_user
          %li= link_to 'Logout', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Login', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path